<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
</head>
<body>
	<form action="/" method="get">
		<label>buscar
			<input type="search" name="search" minlength="3">
		</label>
		<button>Buscar</button>
	</form>

	<% if (search) { %>
		<h2>resultados de búsqueda por <%= searchParam %></h2>
	<% } %>

	<ul>
		<% usernames.forEach((user) => { %>
		<li>
			<span><%= user.username %> - 
				<form action="/<%= user.id %>/delete" method="get">
					<button>
						Borrar
					</button>
				</form>
				<form action="/<%= user.id %>/update" method="get">
					<button>
						Cambiar nombre
					</button>
				</form>
			</span>
		</li>
		<% }) %>
	</ul>

	<% if (search) { %>
		<a href="/">Mostrar todos los usuarios</a>
	<% } else { %>
		<a href="/new">Agregar nuevo nombre</a>
	<% } %>

</body>
</html>
